<%- include('partials/header.ejs'); -%>

<h1 class="text-center mb-3">Books</h1>

<div class="row container-fluid justify-content-center align-items-center">
    <div class="col-md-12 text-center">
        <% if (!locals.books) { %>
            <h2>No books found.</h2>
        <% } else { %>
            <% let counter = 0; %>
            <% books.forEach(function(book) { %>
                <% if (counter % 3 === 0) { %>
                    <div class="row justify-content-center align-items-center">
                <% } %>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title"><%= book.name %></h2>
                            <p class="card-text">Author: <%= book.author %></p>
                            <p class="card-text">Genre: <%= book.genre %></p>
                            <p class="card-text">Rating: 
                                <% let rating = book.rating; %>
                                <% for (let i = 0; i < Math.floor(rating); i++) { %>
                                    <span class="star">&#9733;</span>
                                <% } %>
                                <% if (rating % 1 !== 0) { %>
                                    <span class="star">&#9733;</span>
                                <% } %>
                            </p>
                            
                            <% if (book.cover_image) { %>
                                <img src="<%= book.cover_image %>" alt="<%= book.name %> cover image">
                            <% } else { %>
                                <img height="200" width="200" src="/assets/book.png" alt="Default book cover image">
                            <% } %>
                            
                            <div class="buttons">
                                <a href="/book/<%= book.id %>" class="btn btn-primary">View</a>
                                <a href="/book/<%= book.id %>/edit" class="btn btn-secondary">Edit</a>
                                <a href="/book/<%= book.id %>/delete" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% if ((counter + 1) % 3 === 0 || counter === books.length - 1) { %>
                    </div>
                <% } %>
                <% counter++; %>
            <% }); %>
        <% } %>
    </div>
</div>


<%- include('partials/footer.ejs'); -%>